<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.example.testflight.sample" android:versionName="1.0.1" android:versionCode="1">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
	<application android:label="Test Flight Sample App" android:icon="@drawable/ic_launcher" android:logo="@drawable/ic_launcher"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>